version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./workspace:/usr/workspace/
    stdin_open: true
    command: pip install -r requirements.txt
